.footer{
    background: #111111;
    color: #63676c;
    text-align: center;
    padding: 2rem;
}

.footer__text{
    font-size: 1rem;
    line-height: 1.6;
}

.footer__text--highlight{
    color: #ff4d6d;
    font-weight: 700;
}